<div class="container text-center">
  <h1>About Two Wolves!</h1>
  <p>Two Wolves is a blog site, created by Klint. It is two seperate blogs
  for the same person, combined into one site to show the contrast between
  the <strong>professional</strong> and <strong>personal</strong> sides of life.
  On one you will be able to see the workflow and growth of a person in a career
  of development. The other blog shows purely personal life, similar to any
  other personal social media accounts including hobbies, personal beliefs,
  daily life updates, and more. The purpose of this is to show the
  the contrast that exsists between a person in a professional setting and the
  same person when they can unwind and be more true to themselves. Having a view
  that shows this is important to me for one main reason. People are often
  judged by employers, business partners, and customers, because of what
  happens in their personal life, but more often today by what they post on
  social media. With this site i can show that people can maintain a
  professional attitude and disposition when required, despite what goes on in
  their personal life or what they show on their personal social media accounts.
  </p>
</div>